body{
    background-color: rgb(221, 88, 88);
}
.container{
    width: 250px;
    height: 400px;
    margin: 80px auto;
    border: 4px solid black;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px -10px #ffffff;
}
.cal-box{
    width: 200px;
    margin: 20px auto;
}
#display{
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    text-align: right;
    font-weight: 600;
    padding: 10px;
    margin: 30px 0 20px 0;
    background: transparent;
    box-shadow: inset 2px 2px 5px #babecc inset -5px -5px 10px #fff;
}
.button{
    margin: 15px 0 0 15px;
    width: 30px;
    height: 30px;
    border: 4px solid black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}
.button:hover{
    transform: (1.2);
} 
.clearButton{
    background: red;
    color: white;
}
.mathButtton{
    background: black;
    color: white;

}